#adminLabelPanelID{
-fx-text-fill: #2a83a4;;
}

#exitButton{
-fx-background-color: #2a83a4;
-fx-background-radius: 0 30 30 0;
}

.exitButton{
-fx-background-color: #2a83a4;
-fx-background-radius: 30 0 0 30;
}

.exitButton:hover{
-fx-background-color: #1f5f76;
}

.exitButton:pressed{
-fx-background-color: F39C63;
}

.idGeneratePassword{
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-text-fill:transparent;
}

.idGeneratePassword:pressed{
-fx-effect:innershadow(two-pass-box , #00acff , 0 , 255.0 , 255.0 , 127.0);
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-text-fill:transparent;
}

.idApplyButton{
-fx-effect:innershadow(two-pass-box , #0ca2e1 , 0 , 255.0 , 255.0 , 127.0);
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-text-fill:transparent;
}

.idApplyButton:pressed{
-fx-effect:innershadow(two-pass-box , green , 0 , 255.0 , 255.0 , 127.0);
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-text-fill:transparent;
}

.cancelImage{
-fx-effect:innershadow(two-pass-box , red , 0 , 255.0 , 255.0 , 127.0);
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-text-fill:transparent;
}

.cancelImage:pressed{
-fx-effect:innershadow(two-pass-box , #2a83a4 , 0 , 255.0 , 255.0 , 127.0);
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-text-fill:transparent;
}


#exitButton:hover{
-fx-background-color: #1f5f76;
}

#exitButton:pressed{{
-fx-background-color: F39C63;
}

#ProfileBackButton:hover{
-fx-font-size:19;
-fx-font-family:Impact;
}


.leftButton{
-fx-background-color: #0ca2e1;
-fx-background-radius: 0 30 30 0;
}
.leftButton:hover{
-fx-background-color: #20c0ff;
}

.leftButton:pressed{
-fx-background-color:F39C63;
}

.rightButton{
-fx-background-color: #0ca2e1;
-fx-background-radius: 30 0 0 30;
}

.rightButton:hover{
-fx-background-color: #20c0ff;
}

.rightButton:pressed{
-fx-background-color:F39C63;
}

.justButton{
-fx-background-color: #0ca2e1;
}
.justButton:hover{
-fx-background-color: #20c0ff;
}
.justButton:pressed{
-fx-background-color:F39C63;
}

}

